body{
  background-color: #F5BD8D;
  margin: 0px;
}


header{
  background-color: gainsboro;
  height: 100px;
  width: 1900px;
  padding: 38px;
  padding-left: 100px;
}

body div{
  background-color: #F94E07;
    height:50px;
  width: 300px;
  display: inline-block;
  margin: 65px;
  padding-left: 5px; 
}

footer{
   background-color: red;
    width: 2010px;
}
